:root {
  --white: #fff;
  --bgWhite: #f6f7f8;
  --blue: #90f9fd;
  --softblack: #10101050;
}

body {
  font-family: "Open San", sans-serif;
  background-color: var(--bgWhite);
  margin: 0;
  margin-top: 1vh;
}

#full-body-container {
  height: 98vh;
  width: 90vw;
  margin-left: 5vw;
  border: 1px solid var(--softblack);
  border-radius: 25px;
  background-color: var(--white);
}

.drop-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
